#format: sh
#
#  ensemblprotein_seqseqassocload.config
#
#  This file sets up environment variables that are needed for 
#  the VEGA protein to transcript association load
#
###########################################################################

###########################################################################
#
#  LOAD SPECIFIC SETTINGS
#
###########################################################################

#  Path name of the archive, logs, reports and output directories
FILEDIR=${DATALOADSOUTPUT}/ensembl/ensemblprotein_seqseqassocload
ARCHIVEDIR=${FILEDIR}/archive
LOGDIR=${FILEDIR}/logs
RPTDIR=${FILEDIR}/reports
OUTPUTDIR=${FILEDIR}/output

# directory where input files are located
INPUTDIR=${DATALOADSOUTPUT}/ensembl/ensembl_proteinseqload/output
# full path to the input file
INFILE_NAME=${INPUTDIR}/ensemblprotein_seqseqassoc.txt

export FILEDIR ARCHIVEDIR LOGDIR RPTDIR OUTPUTDIR INPUTDIR INFILE_NAME

#  Complete path name of the log files
LOG_PROC=${LOGDIR}/ensemblprotein_seqseqassocload.proc.log
LOG_DIAG=${LOGDIR}/ensemblprotein_seqseqassocload.diag.log
LOG_CUR=${LOGDIR}/ensemblprotein_seqseqassocload.cur.log
LOG_VAL=${LOGDIR}/ensemblprotein_seqseqassocload.val.log

export LOG_PROC LOG_DIAG LOG_CUR LOG_VAL 

# Sequence1 Logical DB Key
SEQ1_LOGICAL_DBKEY=134 # Ensembl protein

# Sequence2 Logical DB Key
SEQ2_LOGICAL_DBKEY=133 # Ensembl transcript

export SEQ1_LOGICAL_DBKEY SEQ2_LOGICAL_DBKEY

###########################################################################
#
#  MISCELLANEOUS SETTINGS
#
###########################################################################

#  The name of the load for the subject of an email notification
MAIL_LOADNAME="Ensembl Protein to Transcript Association Load"

export MAIL_LOADNAME 
