#format: sh
#
#  vegaprotein_seqseqassocload.config
#
#  This file sets up environment variables that are needed for 
#  the VEGA protein to transcript association load
#
###########################################################################

###########################################################################
#
#  LOAD SPECIFIC SETTINGS
#
###########################################################################

#  Path name of the archive, logs, reports and output directories
FILEDIR=${DATALOADSOUTPUT}/vega/vegaprotein_seqseqassocload
ARCHIVEDIR=${FILEDIR}/archive
LOGDIR=${FILEDIR}/logs
RPTDIR=${FILEDIR}/reports
OUTPUTDIR=${FILEDIR}/output

# directory where input files are located
INPUTDIR=${DATALOADSOUTPUT}/vega/vega_proteinseqload/output
# full path to the input file
INFILE_NAME=${INPUTDIR}/vegaprotein_seqseqassoc.txt

export FILEDIR ARCHIVEDIR LOGDIR RPTDIR OUTPUTDIR INPUTDIR INFILE_NAME

#  Complete path name of the log files
LOG_PROC=${LOGDIR}/vegaprotein_seqseqassocload.proc.log
LOG_DIAG=${LOGDIR}/vegaprotein_seqseqassocload.diag.log
LOG_CUR=${LOGDIR}/vegaprotein_seqseqassocload.cur.log
LOG_VAL=${LOGDIR}/vegaprotein_seqseqassocload.val.log

export LOG_PROC LOG_DIAG LOG_CUR LOG_VAL 

#  The name of the job stream for the load, MGI_User.login
JOBSTREAM=vegaprot_seqseqassocload
USERKEY=1500

export JOBSTREAM USERKEY

# Sequence1 Logical DB Key
SEQ1_LOGICAL_DBKEY=132 # VEGA protein

# Sequence2 Logical DB Key
SEQ2_LOGICAL_DBKEY=131 # VEGA transcript

export SEQ1_LOGICAL_DBKEY SEQ2_LOGICAL_DBKEY

###########################################################################
#
#  MISCELLANEOUS SETTINGS
#
###########################################################################

#  The name of the load for the subject of an email notification
MAIL_LOADNAME="VEGA Protein to Transcript Sequence Association Load"

export MAIL_LOADNAME 
